 * {
   padding: 0;
   margin: 0;
 }

 .delete-checkBox {
   display: none;
 }
 body {
   .container-header {
     div.header-container{
       display: flex;
       justify-content: center;
       align-items: center;
       img {
         margin-right: 1rem;
       }

       .img-note{
         margin-left: 1rem;
         width: 4rem;
         height:  4rem;
       }
       div.img-note {
         background-size: contain;
         background-image: url("./assets/img/notes-taking-notes.gif");
       }
     }

   }
   ul {
     li {
       textarea {
         width: 100%;
         height: 100%;
         min-height: 100px;
       }
       .spinner {
         width: 2.5rem;
         height: 2.5rem;
       }
       p{
         overflow-wrap: anywhere;
       }
       max-height: 55px;
     }
   }
 }

 .errorBody{
   height: 100vh;
   display: grid;
   place-items: center;
   background-color: black;
   .Text-H1 {
     color: red;
   }
 }